exports.googleApiKey = 'GOOGLE-API-KEY'

exports.oauth = {
    clientId: 'POLAR-CLIENT-ID',
    clientSecret: 'POLAR-CLIENT-SECRET',
    authorizationUrl: 'https://flow.polar.com/oauth2/authorization',
    tokenUrl: 'https://polarremote.com/v2/oauth2/token',
    useBasicAuthorizationHeader: true,
    redirectUri: 'http://localhost'
}
