.inverted {
	filter: invert(100%);
}

.scrollable {
	height:750px;
	overflow-y: scroll;
	width:100%;
}

#polar-button {
	background:url(./../icons/polar.png) no-repeat center center;
	background-size: cover;
	border:none;
	width:90px;
	height:90px;
	color:transparent;
}

#polar-button:hover {
	transform:scale(1.03);
}

#polar-button:active {
	filter: invert(100%);
}

.settings-btn:hover {
	transform:scale(1.03);
}
