:root{
    --altitude-color: #7c4598;
    --hr-color: #9f2b32;
    --speed-color: #269687;
    --distances-color: #3873d7;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #333;
}

nav div {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
}

nav div:hover {
    background-color: #111;
}

table {
    width: 100%;
}

th, td {
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ccc;
}

tr:hover {
    background-color: #f5f5f5;
}


.btn {
    border:none;
    background-color: #333;
    border-radius: 10px;
    height:45px;
    text-align:center;
}

.btn:hover {
	transform:scale(1.03);
}


#polar-button {
	background:url(./../icons/polar.png) no-repeat center center;
	background-size: cover;
	border:none;
	width:90px;
	height:90px;
	color:transparent;
}

#polar-button:active {
	filter: invert(100%);
}

/* ------------------------- Analysis tab ---------------*/

.area {
  fill: lightsteelblue;
}

.line {
    fill:none;
    stroke: black;
    stroke-width: 1.5px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.legend {
    width:60px;
    border-bottom-width: thick;
    border-bottom-style: solid;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

/* ---------------------- Graph colors ------------*/

#tick-speed text{
    fill: var(--speed-color);
}

#data-speed {
    stroke: var(--speed-color);
}

#legend-speed {
    background-color:var(--speed-color);
}

#tick-altitude text{
    fill: var(--altitude-color);
}

#data-altitude {
    stroke: var(--altitude-color);
}

#legend-altitude {
    background-color:var(--altitude-color);
}

#tick-hr text{
    fill: var(--hr-color);
}

#data-hr {
    stroke: var(--hr-color);
}

#legend-hr {
    background-color: var(--hr-color);
}

#tick-distances text{
    fill: var(--distances-color);
}

#data-distances {
    stroke: var(--distances-color);
}

#legend-distances {
    background-color:var(--distances-color);
}
